<%-include('./shared/link')%>

<link rel="stylesheet" type="text/css" href="styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="styles/offers_responsive.css">
</head>

<body>

<div class="super_container">

        <%-include('./shared/header')%>

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/blog_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">our offers</div>
		</div>
	</div>

            <div class="intro">
            <div class="container">
                <div class="row intro_items">

                    <!-- Intro Item -->
                    <%for(var i = 0; i < intro.length; i++){%>
                    <div class="col-lg-4 intro_col">
                        <div class="intro_item">
                            <!--<div class="intro_item_overlay"></div>-->
                            <div class="intro_item_background" style="background-image:url(images/<%=intro[i].url%>.jpg)"></div>
                            <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                <div class="intro_center text-center">
                                     <!--<h1><%=intro[i].title%></h1>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>

                </div>
            </div>
	    </div>


    <%-include('./shared/footer')%>
</div>

<%-include('./shared/script')%>
<script src="js/offers_custom.js"></script>
